#echo-sender {
    margin-top: 30px;
}

#deployment-manager {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#command-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}